<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Ranga" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Account</title>
</head>
<body class="log-in-background">
    <div class="container-fluid">
        <div class="row deglu">
            <div class="col-xs-12 col-md-12">
                <img src="../assets/img/icon.jpg" alt="icon" class=" log-in-logo center-block img-responsive">
            </div>
        </div>
        <div class="row margin-account"> 
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">¿Cómo te llamas?</label>
                        <input type="email" class="form-control border-input center-block" id="exampleInputEmail1" placeholder="nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">¿Cual es tu correo?</label>
                        <input type="email" class="form-control border-input center-block" id="exampleInputEmail1" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Crea tu Contraseña</label>
                        <input type="password" class="form-control border-input center-block" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirmar tu Contraseña</label>
                        <input type="password" class="form-control border-input center-block" id="exampleInputPassword1" placeholder="confirmar contraseña">
                    </div>
                    <button type="submit" class="btn btn-default center-block button-account">CREAR CUENTA</button>
                </form>
            </div>
      </div>
    </div>
                           <!-- vista en desktop -->
        <div class="row">
            <div class="col-md-12 margin-account-desktop hidden-xs">
                <form>
                    <div class="form-group label-account-desktop">
                        <label for="exampleInputEmail1">Usuario o Correo</label>
                        <input type="email" class="form-control border-input-desktop center-block" id="exampleInputEmail1" placeholder="nombre">
                    </div>
                    <div class="form-group label-account-desktop">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control border-input-desktop center-block" id="exampleInputPassword1" placeholder="confirmar contraseña">
                    </div>
                    <button type="submit" class="btn btn-default center-block">INICIO</button>
                </form>
            </div>
        </div>
</body>
</html>