<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/personalInformation.css">
</head>

<body>
    <!--Movile-->
    <div class="container-flex">
        <div class="row">
            <div class="higher col-xs-12 visible-xs-block">
                <div>
                    <a href="#" class="col-xs-8 glyphicon glyphicon-chevron-left"></a>
                </div>
                <div>
                    <h3 class="col-xs-4">Perfil</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="text-center col-xs-12 visible-xs-block">
                <a href="#">
                    <img src="../assets/images/user.png" alt="" class="col-xs-offset-4 col-xs-4 img-person img-circle">
                </a>
                <p class="col-xs-offset-3 col-xs-6">Probando Nombre</p>
            </div>
        </div>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class=" col-xs-12 visible-xs-block">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#">Información</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Amigos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Fotos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Videos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Recetas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="publications col-xs-offset-1 col-xs-10 visible-xs-block">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Nombre</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Nacionalidad</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Especialidad</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Edad</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-4 control-label">Estudios</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <button type="button" class="btn btn-primary btn-lg active">Guardar</button>
                        <button type="button" class="btn btn-default btn-lg active">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Desckot-->
    <div class="container-flex">
        <div class="row">
            <div class="higher col-md-12 visible-md-block">
                <div>
                    <a href="#" class="col-md-8 glyphicon glyphicon-chevron-left"></a>
                </div>
                <div>
                    <h3 class="col-md-4">Perfil</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-12 visible-md-block">
                <a href="#">
                    <img src="../assets/images/user.png" alt="" class="col-md-offset-2 col-md-2 img-person img-circle">
                </a>
                <p class="align-text-top">Probando Nombre</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 visible-md-block">
                <ul class="text-center col-md-3 nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="#">Información</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Amigos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Fotos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Videos</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Recetas</a>
                    </li>
                </ul>
                <div class="col-md-8">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Nacionalidad</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Especialidad</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Edad</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Estudios</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-10">
                            <button type="button" class="btn btn-primary btn-lg active">Guardar</button>
                            <button type="button" class="btn btn-default btn-lg active">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>