<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>photo</title>
</head>
<body>
    <input type="file" name="pic" accept="image/*" onchange="subeFichero(event)" />
    <div id="imagenes"></div>
    





    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../js/photo.js"></script>
</body>
</html>