<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <h1 id="subir">suba su imagen</h1>
    <div id="contenido">
        <a href="#"  id="seleccionar"> Elegir archivo</a>
    
    </div>
 
   <input type="file" name="file" id="file">
   <a href="#" id="guardar" >guardar</a>


   <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
   <script src="../js/probando.js"></script>
</body>
</html>